* {
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ',
    Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  margin: 0;
  padding: 0;
}

p {
  font-size: 14px;
}

.v-enter-active {
  transition: opacity 0.5s, transform 0.5s;
}

.v-enter {
  opacity: 0;
}
